*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.cleanfix:after {
    content: "";
    display: table;
    clear: both;
  }

  body{
    margin: 0 auto;
    background-color: aqua;
  }

  header{
    background-color: lawngreen;
    margin: auto;
    width: 80%;
    padding: 1rem;
  }

  nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
  }


ul {
  list-style-type: none;
  width: 50%;
  display: flex;
  justify-content: space-around;
} 

section{
    height: 600px;
    display: flex;
    justify-content: center;
}
section.container-blue{
    background-color: blue;
}

div.pink-box{
    background-color: pink;
    align-self: center;
    height: 75%;
    width: 70%;
}

section.white{
    background-color: white;
    height: 100%;
}

div.lightblue{
    background-color: lightblue;
    height: 100%;
    width: 70%;
}

div.pink{
    background-color: pink
}
