*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.cleanfix:after {
    content: "";
    display: table;
    clear: both;
  }

  body{
    margin: 0 auto;
    background-color: aqua;
  }

  header{
    background-color: lawngreen;
    margin: auto;
    width: 80%;
    padding: 1rem;
  }

  nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
  }


ul {
  list-style-type: none;
  width: 50%;
  display: flex;
  justify-content: space-around;
} 

section.header-foulder{
    background-color: blue;
    height: 600px;
    display: flex;
    justify-content: center;
}

div.pink-box{
    background-color: pink;
    align-self: center;
    height: 400px;
    width: 70%;
}
