*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.cleanfix:after {
    content: "";
    display: table;
    clear: both;
  }

  body{
    margin: 0 auto;
    background-color: aqua;
  }

  header{
    background-color: lawngreen;
    margin: 1rem 10rem;
    padding: 1rem;
  }

  nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
  }


ul {
  list-style-type: none;
  width: 50%;
  display: flex;
  justify-content: space-around;
} 

section.header-foulder{
    background-color: blue;
    height: 200px;
}
